<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>order ist</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Cutomer Name</th>
                <th>Dish name</th>
                <th>Availability</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.cutomer_name }}</td>
                <td>{{ dish.status }}</td>
                <td>{{ dish.total_price }}</td>
             
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>