<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .navbar-toggler {
            color: white;
        }
        .table {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            background-color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dish_list' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_orders' %}">Display Order</a>
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_dish' %}">Add Dish</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container">
      <h1 class="text-center"> Dish Menu</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Dish Name</th>
                    <th>Price</th>
                    <th>Availability</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for dish in dishes %}
                <tr>
                    <td>{{ dish.dish_name }}</td>
                    <td>{{ dish.price }}</td>
                    <td>{{ dish.availability }}</td>
                    <td>
                    
                     
                      <a href="{% url 'update' dish.id %}" class="btn btn-primary btn-sm">Edit</a>
                      <a href="{% url 'remove_dish' dish.id %}" class="btn btn-danger btn-sm">Delete</a>
                      <a  href="{% url 'take_order' dish.id %}" class="btn btn-warning btn-sm">Order</a>
                  </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
